<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd"
	>
	
	<context:component-scan base-package="cn.com.daocaore.monitor" />
	<aop:aspectj-autoproxy />
	<!-- <bean id="xxlConfPropertyPlaceholderConfigurer" class="com.xxl.conf.core.spring.XxlConfPropertyPlaceholderConfigurer" /> -->
	<bean id="xxlConfPropertyPlaceholderConfigurer" class="cn.com.daocaore.monitor.apply.XxlconfPropertyConfigurer" />
	
	<!-- 定义环境变量 --> <!--记得改路径-->
	<import resource="classpath:/spring-mybatis.xml" />
	<import resource="classpath:/spring-cache.xml" />
	<import resource="classpath:/spring.xml" />
	<import resource="classpath:/rocket-mq.xml" />
</beans>