<div class="footer-space"></div>
<div id="footer">
    <div class="devider-footer-left"></div>
    <div class="time">
        <p id="spanDate">
        <p id="clock">
    </div>
    <div class="copyright">Make with Love
        <span class="entypo-heart"></span>Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">这是底部</a> All Rights Reserved</div>
    <div class="devider-footer"></div>
</div>