<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta charset="utf-8">
<title>mongo</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
#parse("/layout/static.vm")
</head>

<body> 
<!-- Preloader -->
<div id="preloader">
    <div id="status">&nbsp;</div>
</div>
<!-- TOP NAVBAR -->
#parse("/layout/header.vm")
<!-- /END OF TOP NAVBAR -->
<!-- SIDE MENU -->
#parse("/layout/left.vm")
<!-- END OF SIDE MENU -->
<!--  PAPER WRAP -->
<div class="wrap-fluid">
    <div class="container-fluid paper-wrap bevel tlbr">
        <!-- CONTENT -->
        <div class="row">
            <div id="paper-top">
                <div class="col-lg-3">
                    <h2 class="tittle-content-header">
                        <i class="icon-window"></i> 
                        <span>Dashboard
                        </span>
                    </h2>
                </div><!--<div class="col-lg-3"> end-->

                <div class="col-lg-7">
                    <div class="devider-vertical visible-lg"></div>
                    <div class="tittle-middle-header">

                        <div class="alert">
                            <button type="button" class="close" data-dismiss="alert">×</button>
                            <span class="tittle-alert entypo-info-circled"></span>
                            Welcome back,&nbsp;
                            <strong>Dave mattew!</strong>&nbsp;&nbsp;Your last sig in at Yesterday, 16:54 PM
                        </div>


                    </div>

                </div>
            </div>
        </div>
        <!--/ TITLE -->

        <!-- BREADCRUMB -->
        <ul id="breadcrumb">
            <li>
                <span class="entypo-home"></span>
            </li>
            <li><i class="fa fa-lg fa-angle-right"></i>
            </li>
            <li><a href="#" title="Sample page 1">Home</a>
            </li>
            <li><i class="fa fa-lg fa-angle-right"></i>
            </li>
            <li><a href="#" title="Sample page 1">Dashboard</a>
            </li>
        </ul>

        <!-- END OF BREADCRUMB -->
        
        <div class="content-wrap">
    		<iframe id="iframeContent" src="" width="100%" height="950px" frameborder="no" border="0" marginwidth="0" marginheight="0" scrolling="yes" allowtransparency="auto"></iframe>
	    </div>

        <!-- FOOTER -->
        #parse("/layout/bottom.vm")
        <!-- / END OF FOOTER -->
    </div>
</div>
<!--  END OF PAPER WRAP -->

<script type="text/javascript">
	/**
	 * <p>页面跳转</p>
	 * @parame curObj 当前对象
	 * @parame url    访问的连接
	 * @parame preMenuTitle  上级菜单标题
	 * @parame nextMenuTitle 下级菜单标题
	 * */
	function gotoPage(curObj,url,preMenuTitle,nextMenuTitle){
		$('#iframeContent').attr('src',url);
	}
</script>

</body>
</html>