<!--css-->
<link rel="stylesheet" href="${ac.contextPath}/static/css/style.css">
<link rel="stylesheet" href="${ac.contextPath}/static/css/loader-style.css">
<link rel="stylesheet" href="${ac.contextPath}/static/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="${ac.contextPath}/static/js/progress-bar/number-pb.css">
<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<!-- Fav and touch icons -->
<link rel="shortcut icon" href="${ac.contextPath}/static/ico/minus.png">
<!--js-->
<!-- END OF RIGHT SLIDER CONTENT-->
<script type="text/javascript" src="${ac.contextPath}/static/js/jquery.js"></script>
<script src="${ac.contextPath}/static/js/progress-bar/src/jquery.velocity.min.js"></script>
<script src="${ac.contextPath}/static/js/progress-bar/number-pb.js"></script>
<script src="${ac.contextPath}/static/js/progress-bar/progress-app.js"></script>
<script>
	function getPath(){
		return '${ac.contextPath}';
	}
</script>
<!-- MAIN EFFECT -->
<script type="text/javascript" src="${ac.contextPath}/static/js/preloader.js"></script>
<script type="text/javascript" src="${ac.contextPath}/static/js/bootstrap.js"></script>
<script type="text/javascript" src="${ac.contextPath}/static/js/app.js"></script>
<script type="text/javascript" src="${ac.contextPath}/static/js/load.js"></script>
<script type="text/javascript" src="${ac.contextPath}/static/js/main.js"></script>

<!-- GAGE -->

<script type="text/javascript" src="${ac.contextPath}/static/js/chart/jquery.flot.js"></script>
<script type="text/javascript" src="${ac.contextPath}/static/js/chart/jquery.flot.resize.js"></script>
<!--<script type="text/javascript" src="${ac.contextPath}/static/js/chart/realTime.js"></script>-->
<script type="text/javascript" src="${ac.contextPath}/static/js/speed/canvasgauge-coustom.js"></script>
<script type="text/javascript" src="${ac.contextPath}/static/js/countdown/jquery.countdown.js"></script>

<script src="${ac.contextPath}/static/js/jhere-custom.js"></script>

